<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Subscription Renewal Confirmation</title>
  </head>
  <body>
    <p>Hi <%= @account.first_name %>,</p>

    <p>Your subscription has been renewed successfully. Thank you for continuing to be a valued member of BharatStage.</p>

    <p>Best regards,<br/>
    The BharatStage Team</p>
  </body>
</html>
