<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Subscription Expired</title>
  </head>
  <body>
    <p>Hi <%= @account.first_name %>,</p>

    <p>Your subscription has expired. Please renew to continue enjoying premium features on BharatStage.</p>

    <p>Best regards,<br>
    The BharatStage Team</p>
  </body>
</html>
