<table>
	<th>
		<td>
            Thank you for using <strong>Ching Ching!</strong>
		</td>
	</tr>
	<tr>
        <td>
        	We've successfully received your payment for Subscribing <%= @user.user_name %>
        </td>
	</tr>
	<tr>
        <td>
        	You get new message in <%= @chat_name %> chat
        </td>
        <td>
        	<!-- TODO -->
        </td>
	</tr>

	<tr>
		<td>
			You'll also find copies of your receipts here in <%#= link_to 'your account', bx_block_profile_url(@subscriber) %>
		</td>
	</tr>
	<tr>
		<td>
            Have fun using Ching Ching
		</td>
	</tr>
</table>